<br><br>
<div class="container">
  <div class="row">
    <div class="col-6">
<h1>DETALLES DEL LIBRO</h1>
<hr>
<img style="width: 200px;" src="<%=@book.image_url%>" />
<br><br>
<P>
<strong>Nombre:</strong>
<%= @book.title %>
</p>

<p>
<strong>Autor:</strong>
<%= @book.author %>
</p>

<p>
<strong>Descripción:</strong>
<%= @book.description %>
</p>


<p>
<strong>Fecha de publicación:</strong>
<%= @book.publication_date %>
</p>

<p>
<strong>Precio promedio:</strong>
<%= @book.price %>
</p>
<br>
<hr>
<h4>Lectores:</h4>

    <div>
        <% if @book.readers %>
        <% @book.readers.each do |reader|%>
        <strong><%= reader.id %>: 
        <p><b>Nombre:</b>  </strong><%= "#{reader.first_name} #{reader.last_name}" %>
        <br>
        <p><b>Comentario:</b>  </strong><%="#{reader.comment}"%></p>
        <% end %>
    </div>
    <% else %>
        <% 'No Readers Added!!!'%>
    <% end %>
<br>
<%= link_to 'Agregar Lectores', new_book_reader_path(@book) %>
<br><br>
<hr>
<h2>Listado de Capítulos:</h2>
<% @book.chapters.each do |chapter| %>
    <p>
        <strong>Chapter number:</strong>
        <%= chapter.chapter_number %>
    </p>

    <p>
        <strong>Title:</strong>
        <%= chapter.title %>
    </p>

    <p>
        <strong>Summary:</strong>
        <%= chapter.summary %>
    </p>
<% end %>
<br>
<br>

<hr>
<h3>Agregue un capítulo:</h3>
<%= form_with model: [ @book, @book.chapters.build ] do |form| %>
    <p>
        <%= form.label :capítulo_número %><br>
        <%= form.number_field :chapter_number %>
    </p>
    <p>
        <%= form.label :título %><br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :resumen %><br>
        <%= form.text_area :summary %>
    </p>
    <p>
        <%= form.submit "Crear capítulo"%>
    </p>
<% end %>


<%= link_to 'Editar', edit_book_path(@book), class: "btn btn-info" %> |
<%= link_to 'Volver', books_path, class: "btn btn-success" %>
<br><br>